@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esconde a barra de rolagem mas permite rolar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}